<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Flask</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li> {# {{ }}=> contains an IMPRESSION which is outputting something to the screen or, in this case the href #}
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('careers') }}">Careers</a></li>
        </ul>
    </nav>

    {% block content %} {# {% %} = contains a STATEMENT which control the flow of the template ex: for loop, if statement, and in this case block element #}
    {# the content gets inserted here from the .html pages #}
    {% endblock %}


</body>
</html>